/* Base */

/* l'étoile ==> Permet d'enlever toutes les valeurs par défaults des navigateurs==> reset. */
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;/* Permet de redéfinir la font-size de base à 10px, pour n'importe quel navigateur. C'est une valeur fixe à laquelle on peut se baser.*/
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;/* est égale à environ 16px */
    color:#555;
    margin: 0; /* pour reset la valeur par default */
    text-align: justify;
}

.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

/* syntaxe pour les grand écran  que si on dépasse ici les 750px.*/
@media screen and (min-width:750px) {
    .container{
        max-width: 1200px;
        margin: 0  auto; /* 0 en- haut et en-bas et auto à gauche et à droite */
        padding: 2rem; /* soit 2x10px = 20px */
        background: #148b30;
    }
}



/* Section */ 

header{
    /*margin: 3.4rem; /*soit 34px  */
    /*padding: 5.6rem;*/
    /*background: #fff;*/
    border-bottom: 2px dashed #eee; /* bordure que en-bas */
}

/* le parent et l'enfant pour + de précision mais surchage le code. */
.header .logo{
    font-family: 'poppins', sans-serif; /* famille d'écriture */
    font-weight: 500;/* gras de la famille d'écriture */
    font-size: 2rem;
    letter-spacing: 2px; /* espace entre les différentes lettres */
}

